<div class="d-flex justify-content-center">
    <button *ngIf="servicePelicula.indexPelicula>1" class="btn" [style]="style2"(click)="verAnterior()">{{textoBoton1}}</button>
    <button *ngIf="servicePelicula.indexPelicula==1" class="btn"  [style]="style">{{textoBoton1}}</button>
    <button *ngIf="servicePelicula.indexPelicula!=this.servicePelicula.genero.length"  class="btn" [style]="style2"(click)="verSiguiente()">{{textoBoton2}} </button>
    <button *ngIf="servicePelicula.indexPelicula==this.servicePelicula.genero.length"  class="btn" [style]="style">{{textoBoton2}} </button>
</div>
